<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{96,150}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,147},{96,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,244},{134,128}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,165},{134,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,106},{144,138}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,147},{144,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{154,126}}</string>
                <key>offset</key>
                <string>{-66,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,160},{154,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,170},{138,108}}</string>
                <key>offset</key>
                <string>{-72,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,203},{138,108}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,80},{168,90}}</string>
                <key>offset</key>
                <string>{-77,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,215},{168,90}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{172,80}}</string>
                <key>offset</key>
                <string>{-82,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,221},{172,80}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{172,76}}</string>
                <key>offset</key>
                <string>{-82,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,226},{172,76}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,76}}</string>
                <key>offset</key>
                <string>{-80,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,229},{174,76}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{160,106}}</string>
                <key>offset</key>
                <string>{-75,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,203},{160,106}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,372},{122,110}}</string>
                <key>offset</key>
                <string>{-52,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,199},{122,110}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,372},{118,98}}</string>
                <key>offset</key>
                <string>{-34,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,201},{118,98}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_hurt_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,372},{108,126}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,173},{108,126}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_hurt.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c07d605bbc45baa340ea6e8be97a74d4$</string>
            <key>textureFileName</key>
            <string>10003_hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
