<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,874},{98,150}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,400},{98,148}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,149},{98,148}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,608},{122,148}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,149},{122,148}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{90,150}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,147},{90,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,202},{122,198}}</string>
                <key>offset</key>
                <string>{29,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,98},{122,198}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{132,202}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,94},{132,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,204},{132,202}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,94},{132,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,634},{126,204}}</string>
                <key>offset</key>
                <string>{26,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,92},{126,204}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,406},{122,202}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,94},{122,202}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,428},{118,206}}</string>
                <key>offset</key>
                <string>{32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,88},{118,206}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{114,218}}</string>
                <key>offset</key>
                <string>{33,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,72},{114,218}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{114,222}}</string>
                <key>offset</key>
                <string>{32,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,61},{114,222}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{116,222}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,54},{116,222}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,222},{118,216}}</string>
                <key>offset</key>
                <string>{36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,57},{118,216}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{114,216}}</string>
                <key>offset</key>
                <string>{35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,55},{114,216}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{112,212}}</string>
                <key>offset</key>
                <string>{34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,58},{112,212}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,652},{116,214}}</string>
                <key>offset</key>
                <string>{34,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,55},{116,214}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,216},{120,212}}</string>
                <key>offset</key>
                <string>{34,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,58},{120,212}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,444},{118,216}}</string>
                <key>offset</key>
                <string>{33,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,55},{118,216}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,660},{122,214}}</string>
                <key>offset</key>
                <string>{30,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,59},{122,214}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,222}}</string>
                <key>offset</key>
                <string>{28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,54},{128,222}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,438},{120,214}}</string>
                <key>offset</key>
                <string>{22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,67},{120,214}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{118,204}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,83},{118,204}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,838},{122,168}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,123},{122,168}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,866},{102,152}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{102,152}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_attack_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,874},{114,150}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,145},{114,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_attack.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74733b764db62d1cfecf00634807ab00$</string>
            <key>textureFileName</key>
            <string>10003_attack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
