<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_move_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,140},{152,136}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,159},{152,136}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{156,140}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,154},{156,140}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,153},{166,124}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{164,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,156},{164,130}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{158,128}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,159},{158,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{154,132}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,156},{154,132}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{154,128}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,153},{154,128}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_move_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,130},{154,138}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,155},{154,138}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_move.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e71114ad4a2cf8a2966cadb3f2a43983$</string>
            <key>textureFileName</key>
            <string>10003_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
