<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10003_stand_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{98,150}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{98,150}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,300},{98,150}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{98,150}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{98,150}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{98,150}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{98,150}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
            <key>10003_stand_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,150}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,147},{98,150}}</string>
                <key>sourceSize</key>
                <string>{432,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10003_stand.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34b87bda4ac39b56ccf1aaf5d17eec1$</string>
            <key>textureFileName</key>
            <string>10003_stand.pvr.ccz</string>
        </dict>
    </dict>
</plist>
