<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,416},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_0_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,364},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_0_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,312},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,208},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,156},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_4_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,104},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,52},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_5_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
            <key>menu_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,52}}</string>
                <key>sourceSize</key>
                <string>{182,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e772bdedb04756306902619dafe5a93:1/1$</string>
            <key>textureFileName</key>
            <string>menu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
