<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>checFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,68},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>checkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,68},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>checkFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,68},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>lodingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{470,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,37}}</string>
                <key>sourceSize</key>
                <string>{470,37}</string>
            </dict>
            <key>lodingFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{464,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,31}}</string>
                <key>sourceSize</key>
                <string>{464,31}</string>
            </dict>
            <key>sliderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,97},{180,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,26}}</string>
                <key>sourceSize</key>
                <string>{180,26}</string>
            </dict>
            <key>sliderFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,68},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>switchBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,68},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>switchFg.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,68},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.pvr.ccz</string>
            <key>size</key>
            <string>{470,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1375a9c64284be0fe057967a54bdd192:1/1$</string>
            <key>textureFileName</key>
            <string>ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
